// global color tokens
// light mode
$-clr-blue-400: #0079ff;
$-clr-bluegray-500: #697c9a;
$-clr-bluegray-600: #4b6a9b;
$-clr-gray-400: #f6f8ff;
$-clr-gray-800: #2b3442;
$-clr-white-100: #fefefe;
// dark mode
$-clr-white-000: #ffffff;
$-clr-blue-900: #141d2f;
$-clr-blue-800: #1e2a47;

$light: (
  "neutral": (
    "000": $-clr-white-000,
    "100": $-clr-white-100,
    "400": $-clr-gray-400,
  ),
  "primary": (
    "400": $-clr-blue-400,
    "500": $-clr-bluegray-500,
    "600": $-clr-bluegray-600,
    "800": $-clr-gray-800,
  ),
);

$dark: (
  "neutral": (
    "000": $-clr-white-000,
    "100": $-clr-white-100,
    "400": $-clr-gray-400,
  ),
  "primary": (
    "400": $-clr-blue-400,
    "500": $-clr-bluegray-500,
    "600": $-clr-bluegray-600,
    "800": $-clr-gray-800,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-400: var(--neutral-400);

$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-800: var(--primary-800);
