$-ff-sans: "Space Mono", sans-serif;

$font-family-base: $-ff-sans;
$font-family-accent: $-ff-sans;

$font-sizes: (
  "small": (
    "700": 1rem,
    "600": 1.375rem,
    "400": 1rem,
    "300": 0.813rem,
    "250": 0.813rem,
    "200": 0.813rem,
    "100": 0.688rem,
  ),
  "medium": (
    "700": 1.625rem,
    "600": 1.375rem,
    "400": 1rem,
    "300": 0.938rem,
    "250": 1rem,
    "200": 0.938rem,
    "100": 0.813rem,
  ),
  "large": (
    "700": 1.625rem,
    "600": 1.375rem,
    "400": 1rem,
    "300": 0.938rem,
    "250": 1rem,
    "200": 0.938rem,
    "100": 0.813rem,
  ),
);

$font-size-100: var(--fs-100);
$font-size-200: var(--fs-200);
$font-size-250: var(--fs-250);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);

$-fw-400: 400;
$-fw-600: 600;

$font-weight-default: $-fw-400;
$font-weight-bold: $-fw-600;
